body {
  font-family: Courier;
  text-align: center;
  background: url(pluto.png);
}

ul {
  background-color: #333;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#body {
  background-color: rgba(128, 128, 128, 0.6);
  margin: 0 auto;
  width: 75%;
  height: 200px;
  border-color: rgba(128, 128, 128, 0.8);
  border-radius: 2px;
}

h1 {
  font-family: Monospace;
  font-size: 3em;
}

h2 {
  font-size: 2em;
  text-decoration: underline;
}

p {
  font-family: Courier;
}

#header {
  margin: 60px;
}

img {
  border-color: rgb(0, 0, 0, 0.0);
  border-radius: 150px;
  height: 250px;
  width: 250px;
}

right_bar {
  background-color: rgb(255, 255, 255);
  width: 25%;
  float: right;
  height: 1000px;

